---
---

@import "minima";  // make sure Minima’s CSS loads first

.social-links {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

.social-links li {
  margin: 0.5em 0;
  font-size: 1.2em;
}

.social-links i {
  margin-right: 0.5em;
  color: #333;
}

.social-links a {
  text-decoration: none;
  color: inherit;
}

.social-links a:hover {
  color: #0073e6;
}

a[rel="me"] {
  font-size: 0.01em;
  color: transparent;
}

/** Blockquotes */
blockquote { 
color: #000; 
border-left: 1px solid #333; 
padding-left: 15px; 
font-size: 16px; 
font-style: normal;
letter-spacing: normal;
}

blockquote > :last-child { 
margin-bottom: 0; 
}

.epigraph {
  font-style: italic;
  font-size: 1.2em;
  color: #000;
  text-align: center;
  max-width: 450px; /* restricts the text width */
  margin: 1em auto; /* centers the block horizontally */
  line-height: 1.5;
}

.epigraph .attribution {
  font-style: normal; /* makes the name not italic */
  display: block; /* forces it onto its own line */
  font-size: 1em;
  color: #000;
}
